<header class="header">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit">
        <svg class="icon-search" width="20" height="20">
          <use href="./images/search.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </header>
  <main>
    <div class="gallery"></div>
    <button type="button" class="load-more is-hidden">Load more</button>
  </main>
  